html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 60px;
    /* background-image: (../assets/images/light-grey-terrazzo.png); */
}
h1 {
  color: lightblue;
}
p {
    color:lightgrey;
}

.contactLabel{
    color:lightgrey;
}

.navbar {
  background-color: #CCCCFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #CCCCFF;
}

.portfolioItems{

}

.portfolioImages {
    width: 285px;
    height: 230px;
    margin: auto;
    display: block;
}

.portfolioLinks {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
#btnSubmit {
  position: relative;
  left: 20px;
  bottom: 6px;
}

.notify-badge{
    position: absolute;
    right:100px;
    top:70px;
    z-index: 1;
    color: red;
    font-size: 38px;
    background:white;
    text-align: center;
    border-radius: 15px 15px 15px 15px    ;
    padding:5px 10px;
}
